
.nv{
    box-shadow: 0px 0px 5px 0px black;
    background-color: rgb(255, 255, 255);
}

.search{
    margin-left: 20%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bar{
    margin-left: 35%;
    display: flex;
    align-items: center;
}

main{
    margin-top: 5%;
}

.foot{
    font-size: x-large;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0d6efd;
    width: 100%;
    height: 21vh;
}

#spn{

    color: black;
}